.full-width-table {
    width: 100%;
  }
  .mat-row:hover {
    background-color: #4e94c3;
    font:bolder;
  }
  mat-toolbar {
    background-color: #3d695e;
    color: white;
  }

  td.mat-cell{
    border-bottom-style: none;
    color:blue;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

th.mat-header-cell{
    border-bottom-style: none;
}