.example-card {
    width: 80px;
    display:inline-block;
    margin:30px;
  }
  
    .example-card:hover {
      background-color: #c38d9e;
    }
  .mat-card {
      width:200px;
      background-color: #d9ebe6;
  }